.cards{
   position: relative;
   margin: 15px;
}
.cards img{
    width: 400px;
    height: auto;
    max-height: 500px;
    cursor:zoom-in;
    background-color: none;
}
.cards img:hover{
    opacity: 0.7;
}

.cards__detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
   background-color: #f8f8f8;
}
.cards__detailOwner{
    display: flex;
    align-items: center;
}
.cards__detailOwner h5{
    font-size: 15px;
    margin-left: 8px;
}
.cards__detailOwner h5 span{
    font-size: 15px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cards__icon{
    width: 30px !important;
    background-color: #37A866;
    color: white !important;
    border-radius: 50%;
    margin-left: 10px;
}
