.cards{
   position: relative;
}
.cards img{
    width: 100%;
    height: auto;
    cursor:zoom-in;
    background-color: none;
    

}
.cards img:hover{
    opacity: 0.7;
}

.cards__detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    position: absolute;
    top: 20px;
}
.cards__detailOwner{
    display: flex;
    align-items: center;
}
.cards__detailOwner h5{
    font-size: 15px;
    margin-left: 8px;
}
.cards__icon{
    width: 30px !important;
    margin-right: 10px;
    background-color: #37A866;
    color: white !important;
    border-radius: 50%;
}
.cards__icon :hover{
   background-color: black !important;
}
.cards__desc{
    /* opacity: 0; */
    position: absolute;
    font-size: small;
    top: 220px;
    left: 70px;
    background-color: rgba(0,0,0,0.6);
    color: white;
/* visibility: hidden; */
}
.cards > img:hover .cards__desc{
opacity: 1;
visibility: visible;
}