*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.app__cards{
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;

}
.App__signup{
  display: flex ;
  flex-direction: column;
}