*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.app__cards{
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;

}
.App__signup{
  display: flex ;
  flex-direction: column;
}
.app__submit{
  display: flex;
  flex-direction: column;
}
.app__submit progress{
  width: 100%;
  color: #37A866;
}
.app__submitInput1{
padding: 6px 15px;
border: none;
background-color: #37a8661f;
outline: none;
font-size: 1rem;
margin: 5px 0;
}
.app__submitInput2{
padding: 6px 15px;
font-size: 1rem;
margin: 5px 0;
}